/config.php
/php.ini
/.env
/.env.*
!/\.env.example
*.log
/vendor/
/storage/images/*
!/storage/images/.gitkeep
/storage/documents/*
!/storage/documents/.gitkeep
/storage/ai-settings.json
/storage/chatgpt/
/storage/ai-settings-*.tmp
